.barchart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20em;
    height: 100%;
}
.container {
    width: 400px;
    height: 52%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.2em;
    margin-top: auto;
    background-color: #F1F1F1;
}
@media screen and (max-width: 1600px) {
    .container {
        height: 60%;
    }
}
.chart-header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.chart-heading {
    font-weight: 400;
    font-size: 16px;
    color: rgba(26, 27, 48, 0.5);

}
.caption {
    font-size: 1.5em;
    color: rgba(26, 27, 48, 0.85);
    font-weight: 400;
    margin-bottom: 0;
    /* padding-top: 0.5em; */
}